<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="img/fav.png">
		<meta charset="UTF-8">
		<title>Personal</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/main1.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
	</head>
	<body>
		<!-- header -->
		<header id="header">
		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
			    	<div id="logo">
			        	<a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
			      	</div>
			      	<nav id="nav-menu-container">
			        	<ul class="nav-menu">
			        		<li><a href="index.html">Home</a></li>
			            	<li><a href="about.html">About</a></li>
			            	<li><a href="services.html">Services</a></li>
			            	<li><a href="">Log Out</a></li>
			        	</ul>
			        </nav>		    		
		    	</div>
		    </div>
		</header>
		<!-- end header -->

		<!-- start banner Area -->
		<section class="banner-area">
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-between">
					<div class="col-lg-6 col-md-6 banner-left">
						<input id="search" type="text" ng-model="searchall" placeholder="Search for a movie, tanggal keluar, dll">
						<!-- <p ng-bind="searchall"></p> -->
						<h6>This is me</h6>
						<h1>Philip Gilbert</h1>
						<p>
							You will begin to realise why this exercise is called the Dickens Pattern with reference to the ghost showing Scrooge some different futures.
						</p>
						<a href="#" class="primary-btn text-uppercase">discover now</a>
					</div>
					<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
						<img class="img-fluid" src="img/hero-img.png" alt="">
					</div>
				</div>
			</div>					
		</section>
		<!-- End banner Area -->

		<div class="container">
			<div ng-app="myApp" ng-controller="myCtrl">
		        <div class="row">
		        	<div class="col-sm-3" ng-repeat="hit in result.results">
		        		<div class="card" style="height: 750px;">
		        			<img src="https://image.tmdb.org/t/p/w185/{{hit.poster_path}}" style="width:100%">
		        			<p class="title">{{hit.title}}</p>
		        			<p>{{hit.release_date}}</p>
		        			<p>{{hit.overview | limitTo: 150}}......</p>
		        			<p>{{hit.vote_average}}</p>
		        			<p id="testid">{{hit.id}}</p>
		        			<p><button class="primary-btn text-uppercase">Detail</button></p>
		        		</div>
		        		<br>
		        	</div>	        	
		        </div>
		    </div>
		    <script>
		        var app = angular.module('myApp', []);
		        app.controller('myCtrl', function ($scope, $http) {
		        $http.get("https://api.themoviedb.org/3/movie/popular?api_key=cdf537660b5d8d8b4bf246869bb73399&language=en-US&page=1").then(function (response) {
		                $scope.result = response.data;
		              },
		              function myError(response) {
		                $scope.result = response.statusText;
		              });
		        });
		    </script>
		</div>

		<!-- start footer Area -->
	    <footer class="footer-area section-gap">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6 col-sm-6">
	                    <div class="single-footer-widget">
	                        <h4>About Me</h4>
	                        <p>
	                            We have tested a number of registry fix and clean utilities and present our top 3 list on our site for your convenience.
	                        </p>
	                        <p class="footer-text"> Copyright &copy; 2018 <a href="https://colorlib.com" target="_blank">Colorlib</a> Develop by Naufal Randika</p>
	                    </div>
	                </div>
	                <div class="col-md-6 col-sm-6 social-widget">
	                    <div class="single-footer-widget">
	                        <h4>Follow Me</h4>
	                        <p>Let us be social</p>
	                        <div class="footer-social d-flex align-items-center">
	                            <a href="#"><i class="fa fa-facebook"></i></a>
	                            <a href="#"><i class="fa fa-twitter"></i></a>
	                            <a href="#"><i class="fa fa-instagram"></i></a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </footer>
	    <!-- End footer Area -->

	    <script src="js/vendor/jquery-2.2.4.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>					
		<script src="js/easing.min.js"></script>			
		<script src="js/hoverIntent.js"></script>
		<script src="js/superfish.min.js"></script>	
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>	
		<script src="js/jquery.tabs.min.js"></script>						
		<script src="js/jquery.nice-select.min.js"></script>	
	    <script src="js/isotope.pkgd.min.js"></script>			
		<script src="js/waypoints.min.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/simple-skillbar.js"></script>							
		<script src="js/owl.carousel.min.js"></script>							
		<script src="js/mail-script.js"></script>	
		<script src="js/main.js"></script>	
	</body>
</html>